/* efectos por defecto */
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    
}
.u-body{
    background-image: url(./images/desktop-wallpaper-dark-night-sky-background-dark-night-star.jpg);
}

/* efectos para el contenedor de pantalla completa */
#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    
    
    width: 100%;
    height: 80%;
    
    background-image: url(../imagenes/textura.png);
    background-position: center;
    background-size: cover;
}

/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    background-color: transparent;
    
    
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    z-index: 9;
    padding: 30px;
    box-sizing: border-box;
}

/* formulario de login */
/* formulario de login */
#login {
    width: 100%;
    
    padding: 30px 30px 50px 30px;
    background-color: #bf8173;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
    
    opacity: 1;
    filter: alpha(opacity=1);
}

#login label {
    display: block;
    font-family: 'MuseoModerno', cursive !important;
    font-size: 120%;
    color:#353440;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 15px;
}

#login input {
    font-family: 'MuseoModerno', cursive !important;
    font-size: 110%;
    color: #1d1e26;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    
    
    border: none;
   
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'MuseoModerno', cursive !important;
    color: #353440;
    border-radius: 30px;
}

#login button {
    font-family: 'MuseoModerno', cursive !important;
    font-size: 110%;
    font-weight: bold;
    color:#353440;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 30px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #f2d5d5;
    align-content: center;
    margin-top: 10px;
    
}

#login button:hover {
    background-color: #353440;
    color:#f2d5d5;
}
/* formulario de login */
/* formulario de login */

/* seccion de la derecha */
/* seccion de la derecha */
/* por defecto */
#derecho {
    /*display: flex;
    align-items:center;
    justify-content:center;*/
    z-index: 9;
    text-align: center;
    width: 100%;
    
    opacity: 0.70;
    filter: alpha(opacity=70);
    
    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-family: 'Stardos Stencil', cursive !important;
    font-size: 250%;
    color:#dfcdc3;
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #dfcdc3;
    
}
.pie-form {
    font-size: 24px;
    font-weight: bold;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bf8173;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #f2d5d5;
}
#sec-fbd1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
#containerlog{
    display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 70% !important;
    align-items: center;
    
    flex-wrap: wrap;
}
.containercont{

    display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 70% !important;
    align-items: center;
    
    flex-wrap: wrap;
}

/* seccion de la derecha */
/* seccion de la derecha */

/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px)
{
    #contenedorcentrado {
        flex-direction:column;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: transparent;
        border: none;

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

       

        padding: 30px;
        box-sizing: border-box;
    }
    
    #login {
        margin: 0 auto;
        padding: 20px;
        width: 70%;
    }
    
    #derecho {
        padding:20px 20px 20px 20px;
    }
    
    #login label {
        text-align: left;
        display: inline-block;
        width: 100px;
        
    }
    h1{
        font-size: 1.45rem !important;
    }
    .pie-form {
        font-size: 16px;}

}
/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */