
.contenedorcentrado1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.containerres{
   width: 80%;
   
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;

    
}
.u-body{
    background-image: url(./images/desktop-wallpaper-dark-night-sky-background-dark-night-star.jpg);
}
.containerres label{
    font-size: 1.1rem;
    font-weight: 500;
    
}
.reservahab{
    color: #000;
   font-size: 15px;
   padding: 8px;
    border-radius: 20px;
    width: 100%;
}
.reservahab option{
    font-size: 15px;
    text-align: center;
    color: #000;
    
    width: 100%;
}
.reservahab:hover{
    background-color: #f2d5d5;
    font-weight: 500;
}

#sec-fbd1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
.containercont{

    display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 70% !important;
    align-items: center;
    
    flex-wrap: wrap;
}

#containerres{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
     flex-direction: column;
     align-content: center;
     justify-content: center;
     width: 60%;
     align-items: center;
     background-color: #bf8173;
     flex-wrap: wrap;
     border-radius: 20px;
}

.btnreserva{
    border-radius: 20px;
    font-weight: 400;
    border: transparent;
    padding: 8px;
    width: 100%;
    text-align: center;
    color: #1d1e26 ;
}
.btnreserva:hover{
background-color: #f2d5d5;
font-weight: 500;
}

#reserva {
    width: 100%;
  
    

    padding: 0px 0px 40px 0px;

    background-color: #bf8173;
    
    
    
    opacity: 1;
    filter: alpha(opacity=1);
}

#contenedorres {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    
    
    width: 100%;
    
    
    background-image: url(../imagenes/textura.png);
    background-position: center;
    background-size: cover;
}
@media (max-width: 991px) {

    


    #containerres {
        width: 80%;
}}
@media (max-width: 575px) {
    .reservahab{
        font-size: 13px;}
    .reservahab option{
        font-size: 13px;
        }
        #containerres{
            width: 90%;
        }
 p {
    
    text-align: center !important;
    
    
 }
 .containercont{
    width: 80% !important;

 }
}


